@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

.tag {
    background-color: #F4853B;
    color: white;

    text-align: center; /* 横方向の中央揃え */
    border-radius: 8%;
    display: inline-flex; /* Flexboxを有効にし、インライン要素として扱う */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    font-size: 1rem; /* フォントサイズを調整 */
    min-width: 5vw; /* 最小幅を設定 */
    min-height: 4vh; /* 最小高さを設定 */
    white-space: nowrap; /* 改行を無効にしてテキストが折り返されないようにする */
}
