.change-complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../image/completeBackground.png');
    background-size: cover;
    color: #333;
}

.change-complete-message {
    font-size: 2.5rem;
    margin: 13rem 0;
}

.home-button {
    background-color: #f4d03f;
    height: 60px;
    color: #000000;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
