.confirm-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.confirm-title {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
    display: inline-block;
    padding-bottom: 5px;
}

.confirm-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-image {
    width: 350px;
    height: 350px;
}

.confirm-details {
    flex: 1;
    text-align: center;
    margin-left: -100px;
}

.confirm-detail {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.confirm-value {
    font-size: 18px;
    color: #333;
    flex: 2;
    text-align: center;
    border: 2px solid #F4CE5E;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    max-width: 250px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.back-button, .submit-button {
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #F4CE5E;
    color: #333;
    min-width: 150px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
}
