.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    width: 40%;
    /* min-width: 20%; */
    height: auto;

}
.form-container{
    display: flex;
    border: 8px, solid #F4A16D;
    padding: 3vw 5vh;
    min-height: 40vh;
    max-height: 70vh;
    max-width: 80vw;
    min-width: 40vw;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.form-container h2{
    margin-bottom: -vh; /* 下に余白を削る */
   
}